<header>
    <nav>
        <a href="/">fashion house</a>
        <ul>
            <li><a href="/home/signUp">sign-up</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
</header>