<header>
    <div>
        <nav>
            <ul class="topnav" id="dropDown">
                 <b><li><a href="">logo</a></li></b> 
                 <b><li><a href="">name</a></li></b>
                 <b><li class="rightnav"><a href="/home"><div class="home-image"><i class="fa fa-home"></i></div></a></li></b>
                 <b><li class="rightnav" ><a href="#">sign-up</a> 
                    <div class="submenu1">
                     <ul>
                         <li><a href="/home/signUp">user</a></li>
                         <li><a href="/designer/signUp">designer</a></li>
                         <li><a href="#">butiques shop</a></li>
                     </ul>
                    </div>
                </li></b>
                 <b><li class="rightnav"><a href="/login/login">login</a></li></b> 
                 <b><li class="dropdownicon"><a href="#" >&#9776</a></li></b> 
            </ul>
        </nav>
    </div>
</header>