<body> 
    <div class="homeImg1">
        <img src="star1.jpeg" alt="star photo">
    </div>   
    <div class="row">
        <div class="col-1">
            <div class="box">
                <div class="icon">
                    <img src="images.png" alt="icon image" width="50px" height="50px">
                </div>
                <label>
                    <a href="#"> Designingers around</a>
                </label>
                <p>
                    By click above you can able to find the designingers around 
                </p>
            </div>
        </div>
        <div class="col-1">
            <div class="box">
                <div class="icon">
                    <img src="images.png" alt="icon image" width="50px" height="50px">
                </div>
                <label>
                    <a href="#"> Designingers around</a>
                </label>
                <p>
                    By click above you can able to find the designingers around 
                </p>
            </div>
        </div>
        <div class="col-1">
            <div class="box">
                <div class="icon">
                    <img src="images.png" alt="icon image" width="50px" height="50px">
                </div>
                <label>
                    <a href="#"> Designingers around</a>
                </label>
                <p>
                    By click above you can able to find the designingers around 
                </p>
            </div>
        </div>
    </div>
    <footer class="foot">
        <div class="row">
            <div class="col-2">
               <h1>company</h1> 
               <ul>
                   <li><a href="#">about</a> </li>
                   <li><a href="#">blog</a> </li>
                   <li><a href="#">course</a> </li>
               </ul>
            </div>
            <div class="col-2">
                <h1>company</h1> 
                <ul>
                    <li><a href="#">about</a> </li>
                    <li><a href="#">blog</a> </li>
                    <li><a href="#">course</a> </li>
                </ul>
             </div>
             <div class="col-2">
                <h1>company</h1> 
                <ul>
                    <li><a href="#">about</a> </li>
                    <li><a href="#">blog</a> </li>
                    <li><a href="#">course</a> </li>
                </ul>
             </div>
             <div class="col-2">
                <h1>company</h1> 
                <ul>
                    <li><a href="#">about</a> </li>
                    <li><a href="#">blog</a> </li>
                    <li><a href="#">course</a> </li>
                </ul>
             </div>
        </div>
    </footer>


</body>