
<body>
    <div class="signup">
    <h1>Login as user</h1>
    <div class="form1">
    <form action="/home" method="POST">
        <input type="email" name="email" id="email" placeholder="Email">
        <br>
        <input type="password" name="password" id="password" placeholder="Password"> 
        <button><a href="/home">CANCEL</a></button>
        <button type="submit">LOGIN</button>
    </form>
</div></div>
</body>

