<h1>sign-up</h1>
<form action="/home" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="name" value="<%= user.name  %> "> 
    <a href="/home">cancel</a>
    <button type="submit">create</button>
</form>